/* @import 'css-from-npm'; */
/* @import '//css-from-url'; */

/* CSS powers @ https://preset-env.cssdb.org/features */
/* also, use any of these! https://easings.net */

:root {
  --surface: gray(10);
  --surface-accent: gray(12);

  --text: gray(80);
  --brand: hsl(330 60% 71%);
  --light: hsl(120 50% 50%);
  --border: hsl(290 80% 55%);

  --timeline-width: 98%;

  @media (prefers-color-scheme: light) {
    --surface: gray(98);
    --surface-accent: gray(95);

    --text: gray(30);
    --brand: hsl(330 100% 71%);
  }
}

body {
  margin: 0;
  padding: 1em;
  background: var(--surface);
  color: var(--text);
  font-family: system-ui;
  min-height: 100vh;
  display: grid;
  /* hack */
  overflow: hidden;
}

#sandbox {
  height: 50vh;
  width: 100%;
  display: flex;
  place-items: center;
  justify-content: center;
  border: 1px dashed var(--border);

  & div {
    margin: 10px;
  }


  & .box {
    width: 100px;
    height: 100px;
    background-color: var(--light);
  }
}

.selected_element_for_animation {
  border: 1px solid var(--border);
}

#app {
  height: 50vh;
  padding: 1em;
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(15px);

  & section  {
    & h2 {
      font-size: 1em;
      margin: 4px 0;
      padding: 4px;
      background-color: var(--surface-accent);
    }
    margin-bottom: 10px;
  }

  & #timeline {
    width: var(--timeline-width);
  }

  & #animations {
    width: var(--timeline-width);
    list-style-type: none;
    padding: 0 0 0 0px;
    margin: 0;
    & li {
      border-bottom: 1px dashed grey;
    } 

    & .keyframes svg {
      padding: 0;
      height: 1em; 
      width: 100%;
      & circle.selected {
        fill: green !important;
      }

      & circle[cx="0%"] {
        transform: translateX(6px);
      }

      & circle[cx="100%"] {
        transform: translateX(-6px);
      }
    }
  }

  & #keyframe {
    display: flex;
    justify-content: center;
  }
 
  & #element-selector {
    color: lightgrey;
  }
}


.hex {
  max-width: 40vh;
  fill: none;
  stroke: var(--brand);
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-width: .75rem;
  cursor: crosshair;

  & > polygon {
    stroke-dasharray: 150;
    stroke-dashoffset: 1000;
    transform-origin: center;
    transition: stroke-dasharray 2s ease, transform 2s ease;
    animation: animate-stroke 3s ease-out-expo forwards;
  }

  &:hover > polygon {
    stroke-dasharray: 250;
    transform: rotateZ(15deg);
  }
}

@keyframes animate-stroke {
  to { stroke-dashoffset: 0; }
}
