/* @import 'css-from-npm'; */
/* @import '//css-from-url'; */
/* CSS powers @ https://preset-env.cssdb.org/features */
/* also, use any of these! https://easings.net */
:root {
  --surface: rgb(27,27,27);
  --surface-accent: rgb(31,31,31);

  --text: rgb(198,198,198);
  --brand: hsl(330, 60%, 71%);
  --light: hsl(120, 50%, 50%);
  --border: hsl(290, 80%, 55%);

  --timeline-width: 90%
}
@media (color-index: 70) {
:root {
    --surface: rgb(249,249,249);
    --surface-accent: rgb(241,241,241);

    --text: rgb(71,71,71);
    --brand: hsl(330, 100%, 71%)
}
  }
@media (prefers-color-scheme: light) {
:root {
    --surface: rgb(249,249,249);
    --surface-accent: rgb(241,241,241);

    --text: rgb(71,71,71);
    --brand: hsl(330, 100%, 71%)
}
  }
body {
  margin: 0;
  padding: 1em;
  background: rgb(27,27,27);
  background: var(--surface);
  color: rgb(198,198,198);
  color: var(--text);
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif;
  min-height: 100vh;
  display: grid;
  /* hack */
  overflow: hidden;
}
#sandbox {
  height: 50vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-items: center;
  place-items: center;
  justify-content: center;
  border: 1px dashed hsl(290, 80%, 55%);
  border: 1px dashed var(--border)
}
#sandbox div {
    margin: 10px;
  }
#sandbox .box {
    width: 100px;
    height: 100px;
    background-color: hsl(120, 50%, 50%);
    background-color: var(--light);
  }
.selected_element_for_animation {
  border: 1px solid hsl(290, 80%, 55%);
  border: 1px solid var(--border);
}
#app {
  height: 50vh;
  width: 100%;
  padding: 1em;
  background: rgba(255, 255, 255, 0.7);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px)
}
#app section h2 {
      font-size: 1em;
      margin: 4px 0;
      padding: 4px;
      background-color: rgb(31,31,31);
      background-color: var(--surface-accent);
    }
#app section  {
    margin-bottom: 10px;
  }
#app #timeline {
    width: 90%;
    width: var(--timeline-width);
  }
#app #animations {
    width: 90%;
    width: var(--timeline-width);
    list-style-type: none;
    padding: 0 0 0 0px;
    margin: 0
  }
#app #animations li {
      border-bottom: 1px dashed grey;
    }
#app #animations .keyframes svg {
      padding: 0;
      height: 1em; 
      width: 100%
    }
#app #animations .keyframes svg circle.selected {
        fill: green !important;
      }
#app #animations .keyframes svg circle[cx="0%"] {
        transform: translateX(6px);
      }
#app #animations .keyframes svg circle[cx="100%"] {
        transform: translateX(-6px);
      }
#app #keyframe {
    display: flex;
    justify-content: center;
  }
#app #element-selector {
    color: lightgrey;
  }
.hex {
  max-width: 40vh;
  fill: none;
  stroke: hsl(330, 60%, 71%);
  stroke: var(--brand);
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-width: .75rem;
  cursor: crosshair
}
.hex > polygon {
    stroke-dasharray: 150;
    stroke-dashoffset: 1000;
    transform-origin: center;
    transition: stroke-dasharray 2s ease, transform 2s ease;
    -webkit-animation: animate-stroke 3s cubic-bezier(0.19, 1, 0.22, 1) forwards;
            animation: animate-stroke 3s cubic-bezier(0.19, 1, 0.22, 1) forwards;
  }
.hex:hover > polygon {
    stroke-dasharray: 250;
    transform: rotateZ(15deg);
  }
@-webkit-keyframes animate-stroke {
  to { stroke-dashoffset: 0; }
}
@keyframes animate-stroke {
  to { stroke-dashoffset: 0; }
}
